<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-5">
        <div class="container-fluid px-lg-5">
            <a class="navbar-brand" href="localhost:8080/index.html">
                <i class="bi bi-journal-code"></i>
               Reddit clone
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/']">HOME</a></li>
                    <li class="nav-item"><a class="nav-link" [routerLink]="['/communities']">COMMUNITIES</a></li>
                    <li class="nav-item" id="login" *ngIf="role == 'unregistered'"><a class="nav-link" [routerLink]="['/login']">LOGIN</a></li>
                    <li class="nav-item" id="logout" *ngIf="role != 'unregistered'" (click)="logout()"><a class="nav-link" >LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
