
<main>
    <section id="section">

        <div id="create_community" *ngIf="role !== ''">
            <div id="create_community-div" style="display: none;">
                <!-- <form id="create_community-form"> -->
                    <div class="d-flex flex-column" id="create_community-container">
                        
                        <div class="d-flex justify-content-start align-self-sm-start" id="name-container">
                            <input type="text" class="form-control" id="nameInput" [(ngModel)]="emptyCommunity.name" name="name" placeholder="community name" />
                        </div>
                        
                        <div class="d-flex justify-content-start align-self-sm-start" id="description-container">
                            <input type="text" class="form-control" id="descriptionInput" [(ngModel)]="emptyCommunity.description" name="description" placeholder="description" />
                        </div>
                        
                    </div>
                    <button class="btn btn-outline-dark btn-lg px-5" (click)="create()" type="submit">CREATE</button>
                <!-- </form> -->
            </div>


            <button type="button" class="btn btn-link" (click)="createFormShow()" id="createbtn"><i class="bi bi-pencil-square">CREATE COMMUNITY</i></button>
        </div>

        <div id="communities-container">
            <div *ngFor="let community of communities" class='d-flex flex-row' id='community-container'> 
                <div class='d-flex flex-column' id='post-info-container'>
                   <div class='post d-flex' id='name-container'>Name:&nbsp;
                    <a ><button class='btn btn-link' [routerLink]="['/communities/', community.id]" id='communityRedirectBtn'>{{community.name}}</button></a></div>
                   <div class='post d-flex' id='description-container' >Description:&nbsp;&nbsp;{{community.description}}</div>
                </div>
            </div> 
            <style>
                #post-container{ margin-bottom: 15px; border: 2px solid #DDE7E7; border-radius: 10px; }
                #post-info-container{  border : 2px solid rgb(196, 214, 214,0.5); border-radius: 5%; margin-left: 10%; margin-bottom: 15px; width: 20%; padding: 5px;}
            </style>
        
        </div>
    </section>
</main>

