<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form class="mt-md-2 pb-3" (ngSubmit)="login()">

                            <h1 class="fw-bold mb-2 text-uppercase">Login</h1>
                            <p class="text-white-50 mb-5">Input username and password</p>

                            <div class="form-floating mb-4">
                                <input type="text" class="form-control" id="usernameInput" name="username"
                                    [(ngModel)]="username" placeholder="username" />
                                <label class="text-black" for="usernameInput">Username</label>
                            </div>

                            <div class="form-floating mb-4">
                                <input type="password" class="form-control" id="passwordInput" name="password"
                                    [(ngModel)]="password" placeholder="password" />
                                <label class="text-black" for="passwordInput">Password</label>
                            </div>

                            <button class="btn btn-outline-light btn-lg px-5 mt-4" type="submit">Log in</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>