<div class="d-flex flex-column min-vh-100 custom-wrapper">
    <app-nav-bar *ngIf="!hasRoute('/login')"></app-nav-bar>
    <router-outlet></router-outlet>
    <app-footer *ngIf="!hasRoute('/login')"></app-footer>
</div>