#section{
    margin: 5% 17%;
    background-color : rgb(249,251,251,0.6);
    
}

#post-container{  margin-bottom: 15px; padding: 5px; border: 2px solid #DDE7E7; border-radius: 10px;}
#karma-container{ padding: 5px; background-color : rgb(201, 226, 226);}
#post-info-container{ width: 100%; padding : 5px 20px;}
#for-container{ margin: 5px; border: 1px solid rgb(167, 188, 188); border-radius: 3px;}
#community-container{ font-size: smaller; }
#author-container{ font-size: small; }
#title-container{ font-size: small; font-weight: bold; }
#text-container{ font-size: bigger; font-weight: bold; }