<main>
    <section id="section">
        <div id="create_post" *ngIf="role != 'unregistered'">
            
            <div id="create_post-div" style="display: none;">
                <!-- <form id="create_post-form"> -->
                    <div class="d-flex flex-column" id="create_post-container">
                        <div class="d-flex justify-content-start align-self-sm-start" id="author-container">
                            <input type="text" class="form-control" id="titleInput" [(ngModel)]="emptyPost.title" name="title" placeholder="post title" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-self-sm-start" id="title-container">
                        <input type="text" class="form-control" id="textInput" [(ngModel)]="emptyPost.text" name="text" placeholder="post text" />
                    </div>
                    <!-- <div class="d-flex justify-content-start align-self-sm-start" id="flair-container">
                        <input type="text" class="form-control" id="flairInput" [(ngModel)]="emptyPost.flair.name" name="flair" placeholder="post flairs" />
                    </div> -->
                    <div id="communities-container">
                        <select class="form-select" aria-label="Predmet select" id="communityInput"
                            [(ngModel)]="emptyPost.community">
                            <option *ngFor="let community of communities; let i = index" [ngValue]="community">
                                {{ community.name }}
                            </option>
                        </select>
                    </div>
                    <button class="btn btn-outline-dark btn-lg px-5" (click)="create()" type="submit">CREATE</button>
                <!-- </form> -->
            </div>


            <button type="button" class="btn btn-link" (click)="createPostFormShow()" id="createbtn"><i class="bi bi-pencil-square">CREATE POST</i></button>
        </div>
        
       
       
        <div id="posts-container">
            <div *ngFor='let post of posts' class='d-flex flex-row' id='for-container'>
                <div class='d-flex flex-column' id='karma-container'>
                    <div class='d-flex justify-content-center' id='upvote-container'><button type='button' id='upvotebtn' (click)="upvote(post.postDTO)" class='btn btn-link arrow'><span class='bi bi-hand-thumbs-up'></span></button></div>
                    <div class='d-flex justify-content-center' id='karma'> {{post.karma}} </div> 
                    <div class='d-flex justify-content-center' id='downvote-container'><button type='button' id='downvotebtn' (click)="downvote(post.postDTO)" class='btn btn-link arrow'><span class='bi bi-hand-thumbs-down'></span></button></div>
                </div>
                <div class='d-flex flex-column' id='post-info-container'>
                    <div class='post d-flex' id='community-container'><a class='btn btn-link' [routerLink]="['/communities/', post.postDTO.community.id]" id='communityRedirectBtn'> {{post.postDTO.community.name}}</a></div>
                    <div class='post d-flex' id='author-container'> {{post.postDTO.author.displayName}} </div>
                    <div class='post d-flex' id='title-container' > {{post.postDTO.title}}  {{post.postDTO.id}} </div>
                    <div class='post d-flex' id='text-container' > {{post.postDTO.text}} </div> 
                </div>
               
            </div>
        </div>
    </section>
</main>
