#post-container{ margin-bottom: 15px; border: 2px solid #DDE7E7; border-radius: 10px;}
#karma-container{ padding: 5px; background-color : rgb(196, 214, 214);}
#post-info-container{ width: 100%; padding : 5px 20px;}
#author-container{ font-size: small; }
#title-container{ font-size: small; font-weight: bold; }
#text-container{ font-size: bigger; font-weight: bold; }
            