<section style="margin: 5% 15%;">

    <div id="community-container" style="width: 100%; margin-bottom: 5%;">
        <div>
            <div id="edit_community-div" *ngIf="isModerator">
                <!-- <form id="edit_community-form" [formGroup] = "editform" (ngSubmit)="edit(editform.value)"> -->
                    <div class="d-flex flex-column" id="edit_community-container">
                        <div class="d-flex justify-content-start align-self-sm-start" id="name-container">
                            <input type="text" class="form-control" id="nameInput" [(ngModel)]="community.name"  name="name" placeholder="Community name" />
                            
                        </div>
                    </div>
                    <div class="d-flex justify-content-start align-self-sm-start" id="description-container">
                        <input type="text" class="form-control" id="descriptionInput" name="description"  [(ngModel)]="community.description" placeholder="Description" />
                    </div>
                    
                    <button class="btn btn-outline-dark btn-lg px-4" (click)="edit()" type="submit">EDIT</button>
                <!-- </form> -->
            </div>
            <button type="button" style="display: none;" class="btn btn-link" id="createbtn"><i class="bi bi-pencil-square">EDIT COMMUNITY</i></button>

        </div>

    </div>


    <div id='suspend-container' *ngIf="role=='ROLE_ADMINISTRATOR'" style='width: 50%;'>
        <button type='button' id='suspendBtn' (click)='suspendReasonInputShow()'  class='btn btn-link arrow'>
        <i class='bi bi-exclamation-triangle'> &nbsp;Suspend community</i></button>
        <div id="suspend-div" style="display: none; width: 100%;">
            <form id="suspend-form" [formGroup] = "fb" (ngSubmit)="suspend(fb.value)"  >
                <div class="d-flex flex-column" id="suspend-container">
                    <div class="d-flex justify-content-start align-self-sm-start" id="reason-container">
                        <input type="text" class="form-control" id="reasonInput" formControlName="suspendedReason"  name="suspendedReason" placeholder="What is the reason that you want to suspend community?" />
                        
                    </div>
                </div>
                <input type="submit" value = "suspend"/>
            </form>
        </div>

    </div>
    <div class='d-flex flex-column' id='community-info-container' style=' width: 50%;'>
       <div class='post d-flex' id='name-container'>Name&nbsp;<label> {{community.name}} </label></div>
       <div class='post d-flex' id='description-container'>Description&nbsp;<label>{{community.description}} </label></div>
    </div>




    <div id="post-members-container" class="d-flex flex-row justify-content-between" style="width: 100%;">
        <div id="posts-container" class='d-flex flex-column' style="width:60%; background-color:white;">
            <div *ngFor='let post of posts' class='d-flex flex-row' id='for-container'>
                <div class='d-flex flex-column' id='karma-container'>
                    <div class='d-flex justify-content-center' id='upvote-container'><button type='button' id='upvotebtn' (click)="upvote(post.postDTO)" class='btn btn-link arrow'><span class='bi bi-hand-thumbs-up'></span></button></div>
                    <div class='d-flex justify-content-center' id='karma-container'> {{post.karma}} </div> 
                    <div class='d-flex justify-content-center' id='downvote-container'><button type='button' id='downvotebtn' (click)="downvote(post.postDTO)" class='btn btn-link arrow'><span class='bi bi-hand-thumbs-down'></span></button></div>
                </div>
                <div class='d-flex flex-column' id='post-info-container'>
                    <div class='post d-flex' id='community-container'><a class='btn btn-link' [routerLink]="['/communities/', post.postDTO.community.id]" id='communityRedirectBtn'> {{post.postDTO.community.name}}</a></div>
                    <div class='post d-flex' id='author-container'> {{post.postDTO.author.displayName}} </div>
                    <div class='post d-flex' id='title-container' > {{post.postDTO.title}}  {{post.postDTO.id}} </div>
                    <div class='post d-flex' id='text-container' > {{post.postDTO.text}} </div> 
                </div>
                <div id="delete-container" *ngIf="isModerator">
                    <button type="button" class="btn btn-danger" (click)="deletePost(post.postDTO)"><i class="bi bi-calendar-x"></i> DELETE</button>
                </div>
            </div>
        </div>
        <div id="user-container" class='d-flex flex-column' style=" width:30%;">
            <div id="moderators-container" style="border-bottom: 1px dashed;"><h6>MODERATORS</h6>
                <div *ngFor="let moderator of moderators" id='member-container'><ul><li> {{moderator.displayName}}</li></ul></div>
            </div>
            <div id="members-container" style="border-bottom: 1px dashed;"><h6>MEMBERS</h6>
                <div *ngFor="let member of members" id='member-container'><ul><li> {{member.displayName}}</li></ul></div>
            </div>
            <div id="banned-container" *ngIf="role=='ROLE_ADMINISTRATOR' || role == 'ROLE_MODERATOR'"style="border-bottom: 1px dashed;"><h6>BANNED</h6>
            </div>
        </div>
        
    </div>
</section>
